.key-dot{
display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}
.county-name{
    margin: 0 !important;
}
#Container{
    width: auto;
    position: relative;
}
.chart{
    float: left;
    width: 650;
    height: 500;
}
.legend{
    float: left;
    margin-right: 20px;
}
.SC{ background: #003C60;
}
.SM{ background: #0088CA;
}
.AC{ background: #9b111e;
}
.AM{ background: #B11116;
}
.ARC{ background: #339933;
}
.ARM{ background: #99ff99;
}
.BC{ background: #008080;
}
.BM{ background: #91BABF;
}
.WC{ background: #663399;
}
.WM{ background: #936C98;
}

